{% extends 'base.html' %}

{% block head %}
    <title>About</title>
{% endblock %}

{% block body %}
    <div class="text-gray-200 p-4 w-4/5">
        <p class="text-5xl mb-8">Everyone has a story to tell</p>
        <p class="text-2xl pt-4 font-bold">About WordWiz</p>
        <p class="text-xl pt-4">Welcome to WordWiz, your portal to a world of words, wisdom, and wonders!</p>
        
        <p class="text-2xl pt-4 font-bold">Our Mission</p>
        <p class="text-xl pt-4">At WordWiz, we are passionate about the power of words. Our mission is to create a space where language and creativity converge. We aim to inspire and inform, to entertain and educate, and to share the magic of words with our readers.</p>
        
        <p class="text-2xl pt-4 font-bold">What We Do</p>
        <p class="text-xl pt-4">WordWiz is more than just a blog; it's a journey through the written word. Here, we explore the art of storytelling, the beauty of poetry, the insights of thought leaders, and the practicality of language in our daily lives. From grammar tips to literary analysis, from writing prompts to book recommendations, WordWiz is your go-to resource for all things related to language and literature.</p>

        <p class="text-2xl pt-4 font-bold">Meet the WordWiz Team</p>
        <p class="text-xl pt-4">Our team of passionate writers, editors, and language enthusiasts is dedicated to bringing you high-quality content that both informs and inspires. We come from diverse backgrounds and perspectives, but we share a common love for words and a commitment to sharing that passion with you.</p>

        <p class="text-2xl pt-4 font-bold">Join Our Community</p>
        <p class="text-xl pt-4">WordWiz isn't just about us; it's about you, our readers and fellow word enthusiasts. We invite you to join our community, share your thoughts, and engage in meaningful discussions. Whether you're a seasoned wordsmith or just beginning to explore the world of language, there's a place for you here.</p>

    </div>

{% endblock %}