{% extends 'base.html' %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
<div class="flex justify-center m-48">

    <form class="p-8 w-4/5 bg-gray-800 rounded" method="post">
        {{form.csrf_token}}
        <p class="text-3xl text-gray-200 pb-4">Login</p>

        <label for="email-address-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white pt-4">Username</label>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
            <i class="fa-solid fa-user text-gray-400"></i>
          </div>
          {{form.username(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" ,placeholder="John Doe", type="text")}}
        </div>
    
        
    
        <label for="email-address-icon" class="block pt-4 mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Password</label>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
            <i class="fa-solid fa-lock text-gray-400"></i>
          </div>
          {{form.password(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" ,placeholder="**********", type="password")}}
        </div>
    

        <p class="text-xl text-gray-200 pt-4">Dont have a account? <a href="/signup" class="underline text-primary">Sign up</a></p>

        {{form.submit(class="text-white mt-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800")}}
    </form>
    
</div>
{% endblock %}

